BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 100


BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterControlStatement: true
  AfterNamespace: true
  BeforeElse: true
  BeforeCatch: true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: true

SeparateDefinitionBlocks: Always

NamespaceIndentation: All

IndentCaseLabels: true

SpaceBeforeParens: ControlStatements

SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Left
ReferenceAlignment: Left

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

SortIncludes: true
IncludeBlocks: Regroup

Standard: Latest

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false

PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakString: 1000